<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Paragon_Database.Properties.Settings.ConnectionString"
            connectionString="Data Source=SENT-IBANKS\SQLEXPRESS;Initial Catalog=paragon;Integrated Security=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>